<%- include('../../partials/header.ejs') %>
    <div class="container vh-100">
        <div class="row h-100">
            <div class="col-12 col-md-7 mx-auto my-auto">
                <div class="card card-body shadow text-center">
                    <h3 class="mb-2 fw-bold">Account Verified</h3>
                    <h1 class="text-success" style="font-size: 15rem;"><i class="bi bi-envelope-check"></i></h1>
                    <h5 class="my-2">Thank you, your email has been verified. Use the link below to login your account.
                    </h5>
                    <a class="btn btn-primary btn-lg mt-3" href="/auth/login">Login To Your Account</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>